@charset "UTF-8";
body{
    background-color: rgb(155, 155, 247);
    font: normal 12pt Arial;
    color: white;
    text-align: center;

}
section{
    color: black;
    padding: 16px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 6px 16px #00000079;
    margin: auto;

}
footer{

}